<div class="user-details">
  <h1>My Expertise</h1>
  I am a passionate developer with experience
  in python, go and PHP, focusing on the first
  two.
  Currently, I am working on distributed
  services handling significant traffic,
  providing short response times.
  After hours I brew beer and develop side
  projects - most often to learn new things.
  Things I like the most is sharing knowledge
  and learning from other people.
  I spoke at <a href="https://2018.gogoconf.rocks">gogoconf</a> last year, and had
  <a href="https://ep2018.europython.eu/conference/talks/asynchronous-operations-at-scale">poster</a> at 2018 EuroPython about
  asynchronous operations, at 2019 edition a
  <a href="https://ep2019.europython.eu/talks/hmyiawy-natural-language-processing-with-neural-networks/">talk</a> about natural language processing with
  neural networks.
</div>
